<div class="notes-grid" [class.empty]="notes.length === 0">
    <aside class="sidebar">
        <app-sidebar></app-sidebar>
    </aside>
    <header class="header">
        <app-notes-header></app-notes-header>
    </header>
    <div class="main-content">
        <section class="notes-list">
            <app-notes-list
                [notes]="notes"
                [activeNote]="selectedNote"
                (noteSelected)="onSelect($event)"></app-notes-list>
        </section>

        <section class="note-content" *ngIf="notes.length > 0">
            <app-note-content [note]="selectedNote"></app-note-content>
        </section>

        <section class="extra-content" *ngIf="notes.length > 0">extra content</section>
    </div>
</div>
