.section-notes-list {
    height: calc(100dvh - 81px);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .button-wrapper {
        margin-top: 20px;
        padding: 0 24px;
    }

    .notes-container {
        flex: 1;
        overflow-y: scroll;
        padding: 0 16px;
        scroll-behavior: smooth;
        padding-bottom: 160px;

        @media screen and (min-width: 1440px) {
            padding: 0 24px;
            margin-top: 16px;
            padding-bottom: 100px;
        }

        .note {
            padding-top: 16px;
            &:first-child {
                padding-top: 0;
            }
            .child {
                display: flex;
                flex-direction: column;
                gap: 12px;
                border-radius: 6px;
                padding: 8px;
                cursor: pointer;
                transition: background-color 300ms ease-in-out;

                &:hover {
                    background: var(--neutral-100);
                }

                &.active {
                    background: var(--neutral-100);
                }

                .tags {
                    display: flex;
                    gap: 4px;
                }

                .tag {
                    background-color: var(--neutral-200);
                    padding: 4px 8px;
                    border-radius: 4px;
                    color: var(--neutral-950);
                }

                .created_at {
                    color: var(--neutral-700);
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: -0.2px;
                }
            }

            .separator {
                height: 1px;
                background-color: var(--neutral-200);
                margin-top: 12px;
                opacity: 1;
                transition:
                    opacity 300ms ease-in-out,
                    height 300ms ease-in-out,
                    margin-top 300ms ease-in-out;
            }

            .child.active + .separator {
                opacity: 0;
                height: 0;
                margin-top: 0;
            }
        }
    }
}
