<section class="sidebar">
    <img class="img" ngSrc="/logo.svg" alt="Logo Notes" width="95" height="28" priority />

    <nav class="navigation">
        <ul>
            <li
                *ngFor="let item of menuItems"
                [routerLink]="item.link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <div class="left">
                    <lucide-icon [name]="item.icon"></lucide-icon>
                    <span class="label">{{ item.label }}</span>
                </div>
                <lucide-icon *ngIf="isActive(item.link)" [name]="ChevronRightIcon"></lucide-icon>
            </li>
        </ul>
    </nav>
    <div class="separator"></div>
</section>
