.note-content-wrapper {
    padding: 20px 16px 0;

    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--neutral-200);
        padding-bottom: 16px;

        .back-button {
            display: flex;
            align-items: center;
            gap: 4px;
            span {
                font-size: 14px;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: -0.2px;
                color: var(--neutral-600);
            }
        }

        .right {
            display: flex;
            gap: 16px;

            .rotate {
                rotate: 300deg;
            }

            button {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: -0.2px;
                color: var(--neutral-600);
            }
            .save {
                color: var(--blue-500);
            }
        }
    }

    .content {
        margin-top: 12px;

        .subtopbar {
            margin-top: 12px;

            .tagsParent {
                display: flex;

                &__tag {
                    display: flex;
                    gap: 6px;
                    margin-right: 74px;

                    span {
                        color: var(--neutral-700);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 120%;
                        letter-spacing: -0.2px;
                    }
                }
            }
        }
    }
}
