<header *ngIf="isMobileOrTablet()" class="header">
    <img ngSrc="/logo.svg" alt="Logo Notes" width="95" height="28" priority />
</header>

<section *ngIf="isMobileOrTablet()" class="mobile-layout">
    <div *ngIf="!selectedNote">
        <div class="header-padding" [ngClass]="{ 'fixed-header': notes.length > 0 }">
            <h1>All Notes</h1>
        </div>
        <div class="scrollable-content">
            <app-notes-list
                [notes]="notes"
                [activeNote]="selectedNote"
                (noteSelected)="onSelect($event)"
                [isMobileOrTablet]="isMobileOrTablet()">
            </app-notes-list>
        </div>
    </div>

    <app-note-content [note]="selectedNote" *ngIf="selectedNote" (goBack)="selectedNote = null"></app-note-content>
</section>

<app-notes-grid *ngIf="!isMobileOrTablet()"></app-notes-grid>
